<div>[[!meta title="Install from Debian, Ubuntu, or Mint using the command line and GnuPG"]]</div>

[[!meta robots="noindex"]]
[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/expert" rel="stylesheet" title=""]]

[[!inline pages="install/inc/overview" raw="yes" sort="age"]]

[[
<div class="panel panel-primary">
  <div class="panel-body">Let's go!</div>
</div>
|install/expert/usb]]

<div class="clearfix"></div>
