/* Hide top donation banner */

#donate-banner {
  display: none;
}

/* Display "Tor check" instead of "Install Tails" */

.sidebar .download {
  display: none;
}

#tor_check {
  display: block;
}

#tor_check a {
  height: 6.5em;
  display: flex;
  align-items: center;
}

#tor_check a span {
  margin-left: 0.5em;
  font-size: 2.29em;
}

#tor_check a span.twolines {
  font-size: 1.59em;
}

/* Random message box */

.random-message {
  display: none;
  overflow: auto;
  margin-bottom: 2em;
  padding: 1em 2em 1em 2em !important;
  background: #eee !important;
  border: 1px solid #ddd !important;
  border-radius: 0.5em;
  box-sizing: border-box;
  box-shadow: 1px 1px 5px #ccc;
  color: black !important;
}

.random-message p:last-child {
  margin-bottom: 0;
}

.random-message h2:first-child {
  margin-top: 0;
}

/* Donate outside of campaign */

#donate {
  background: #eee url(lib/give-love.svg) no-repeat top 50% left 1.5em !important;
  background-size: 5em !important;
  padding-left: 8em !important;
  border: 1px solid #ddd !important;
  font-size: 16px;
}

span.highlight {
  background: yellow;
}

/* Survey message */

#survey {
  background: #b49cd3 url('lib/survey.png') no-repeat top 50% left 2em !important;
  border: none !important;
  padding-left: 9em !important;
}

/* Donate during campaign */

#donate-campaign {
  background: #eee;
  overflow: auto;
  padding: 1em;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #ddd;
  margin-bottom: 2em;
}
