<div>[[!meta title="Dear Tails user,"]]</div>

[[!meta stylesheet="home" rel="stylesheet" title=""]]
[[!meta robots="noindex"]]
[[!meta script="home"]]

<div id="donate-campaign">

<p>Today, we are asking you to help Tails. You can enjoy Tails for free
because we believe that nobody should have to pay to be safe while using
computers. And we want to keep it this way. <span class="highlight">If
everyone reading this donated $6, our fundraiser would be done in one
day.</span> The price of a USB stick is all we need.</p>

<p>But, not everyone can donate. When you donate, you are offering to many
others who need it, this precious tool that is Tails.</p>

<div class="donate-button"><a href="https://tails.boum.org/donate?r=home">Donate</a></div>

</div>

<div>
[[!inline pages="news" raw="yes" sort="age"]]
</div>
