<div>[[!meta title="Install from macOS"]]</div>

[[!meta robots="noindex"]]
[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/assistant" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/overview" rel="stylesheet" title=""]]
[[!meta stylesheet="inc/stylesheets/mac" rel="stylesheet" title=""]]

[[!inline pages="install/inc/overview" raw="yes" sort="age"]]

[[
<div class="panel panel-primary">
  <div class="panel-body">Let's go!</div>
</div>
|install/mac/usb-download]]

<div class="clearfix"></div>
