[[!meta title="Our mission and values"]]

[[!meta stylesheet="bootstrap.min" rel="stylesheet" title=""]]
[[!meta stylesheet="mission" rel="stylesheet" title=""]]

<div class="row">

<div id="mission" class="col-sm-10">

<p>Our mission is to empower people worldwide by giving out an operating system that
protects from surveillance and censorship.</p>

<p>We make digital security
tools accessible to everyone, whenever they need it:
activists, journalists, freedom fighters, and ultimately, you,
whenever you need some extra privacy in this digital world.</p>

<!--
- (-) "more secure communications" → "more secure world"
- (-) "Alternative OS"?? → "convenience", "disposable", "momentary"
The Fighter: We fight for people’s right to be private—online and offline.
The Hacker: We develop, curate, and package best privacy tools for the community.
The Protector: We protect people against surveillance and censorship.
The Provider: We empower people to use security technology otherwise inaccessible to them.
-->

<!--
- (-) "Privacy advocates and enthusiasts"
  - We want to help everyone
- (-) "those who need it most".
- (++) "Journalists, activists, people who are surveilled and
  censored": matches our audience.
- (++) "Activists"
- (!=) "NGOs": NGO can have a bad connotation even though with want
  to work for 'non-governemental' and 'organizations'.
- (-) "Privacy advocates and enthusiasts": these are the
- (-) Incoherence between "activists, journalists" and "everybody"
  influencers, not the final audience.
- (!=) Audience: just anybody when you need some extra privacy
  - eg. medical search, political comment, at work, etc.
- (-) "those who need it most" → everbody!
- (!=) "surveilled" → "under surveillance"
  - Everybody is surveilled
  - People might not know that/whether they are surveilled
- (!=) Audience + "political comment"
-->

</div>

</div>

<div class="row">

<div class="col-sm-12">

<h1>Tails is&hellip;</h1>

</div>

</div>

<div class="row">

<div id="values" class="col-sm-8">

<h3>Empowering</h3>

<p>We build liberating technology to put people in control of their
digital lives. We make it simple for our users to make informed
decisions depending on their situations. <strong>The most vulnerable and
oppressed people are the most in need of privacy and security.</strong></p>

<!--
- (!=) "Empowering": it's not only a personal matter, empowering
  should be put in a larger perspective, a conflict, empowering
  people who are oppressed.
- (++) "Empowering": the tool is empowering by its usage.
- (!=) "Put people in control": while being careful not to give
  users too many choices as it add complexity and be scary.
- (-) "For freedom": we prefer "empowering".
- (++) "dedicated", "trustworthy", "committed": Important!
  - We are here to help people.
-->

<h3>Ecosystemic</h3>

<p>We cooperate with and give back to other projects as a way of
building better and more sustainable software. Tails is interoperable
with other tools and useful in diverse workflows. <strong>The privacy and
security of digital communications is not an individual matter.</strong></p>

<!--
Tails is interoperable with other projects, and actively cooperates with them.
Tails works with other projects to build sustainable tools.
- (++) "to build sustainable tools"
- (!=) Add "sustainable" to "ecosystemic"
  - Tails has to be sustainable to be useful for people
    and not die in a few months
- (!=) "shares" → "give back"
- (-) "We model our free software values" ???
- (!=) "cooperates" → "for what"?, "integrated"
- (!=) "Cooperative": with a good explanation, we prefer
  'ecosystemic'.
  - We are sharing with other projects and create what is missing.
  - Tails is an alternative OS, not something that users run all the
    time, so it's also important for Tais to fit nicely in the rest
    of the users workflows and tools.
  - Sharing with other projects was very strong in our original
    vision but, as it's strongly in our DNS, could maybe be put more
    in the background in the future.
- (-) "My data, my choice": digital security and privacy is not an
  individual matter always involves several parties and is a
  societal matter.
-->

<h3>Accessible</h3>

<p>We are a welcoming community dedicated to building usable tools for a
diverse and global audience. We work hard to be helpful, understand our
users, and educate them without being paternalistic. <strong>If a tool is hard to use, it
is less secure.</strong></p>

<!--
- (!=) "Inclusive" → "Accessible"
- (!=) Put accessibility before security
- (++) "Inclusive".
- (!=) "listen to" → "understand"
- (!=) "Accessible": could we find a way of combining 'accessible'
- (++) "Accessible"
  with 'inclusive', 'usable tools for a diverse community'.
- (++) "Tails is committed to building usable tools": for a diverse
  audience.
- (!=) "inaccessible" → "unusable"
  - Is Tails making tools easier to use?
  - People don't care so much about the underlying technology but
    about what it permits
-->

<h3>No bullshit</h3>

<p>We don't promise absolute security but
we are reliable and trustworthy. We communicate about the limitations of
our software in an instructive way, without being disorientating,
patronizing, or overly cautious. <strong>Tails is safe but not
magic.</strong></p>

<!--
- (++) "No bullshit" → "honest"?
- (!=) "Straight-talking": people had a hard time understand or
  relating to this term. "No bullshit" was clearer
- (!=) "Straight-talking": we have this deep in our DNS and
  sometimes do it too much.
- (++) "without patronizing"
-->

</div>

<div id="personality" class="col-sm-4">

<p><span>Elite</span><span>For Everybody</span></p>

<div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"></div></div>

<p><span>Cautious</span><span>Confident</span></p>

<div class="progress"><div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="60"></div></div>

<!--
- (!=) "vigilant" → "cautious"
- (++) "Confident": we want to be more confident in our message
  - Tails is a political statement:
    - Everybody should have privacy online.
    - Computers are tools used by people with power to control
      people with less power, related to "empowering".
-->

<p><span>Impartial</span><span>Ideological</span></p>

<div class="progress"><div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"></div></div>

<!--
- (-) 100% ideological
- (++) More towards impartial than ideological
- (-) Ideological 100% → "privacy preservation is not ideological"
-->

<p><span>Playful</span><span>Serious</span></p>

<div class="progress"><div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70"></div></div>

</div>

</div>

<p>See also the [[Tails Social
Contract|contribute/working_together/social_contract]], which is a set
of commitments that Tails stands by.</p>

<!--

Our style
=========

When using Tails, people trade off bits of convenience for some extra
security. They might have very little time, be under stress, or physical
threats.

We take the safety of our users very seriously and we speak to them in a
confident and reassuring way without being lighthearted or frivolous.

Our style inspires trust but doesn't sound distant. Even though we
address serious issues, we are always empathetic and encouraging.

To be accessible to our diverse and global audience, we value clarity
and sincerity above all. We provide state-of-the-art tools without
over-promising or sounding elitist.

-->
